body {
    font-family: 'Oxygen', sans-serif;
    background-color: lightblue;
    margin: 0;
}

.navbar {
    position: relative;
    background-color: white;
    height: 70px;
}

.navbar-image-wrapper {
    width: 300px;
    padding-left: 2rem;
    padding-top: .7rem;
}

.navbar-links-wrapper {
    position: absolute;
    right: 30px;
    top:17px;
    bottom: 5px;
    height: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    width: 500px;
}

.navbar-link {
    color: #009999;;
    font-weight: bold;
    font-size: .8rem;
    text-decoration: none;
    cursor: pointer;
    
    padding: 4px 8px;
    height: 20px;
    width: auto;
    letter-spacing: .5px;
}

.free-trial-link {
    color: white;
    background-color: #009999;
    border-radius: .3rem;
    border: none;
}

.free-trial-link:hover {
    background-color: #003366;
}

